/* KAZsport.info */
body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    input{
        outline: none;
    }
    h1{
        padding: 0;
        margin: 0;
    }
}
.clear{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
a{
    color: #cf0000;
    font-size: 10px;
    transition: all ease 0.2s;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
a:hover{
    color: #cf0000;
    border-bottom: 1px solid #cf0000;
}
.page{
    padding: 20px 0;
    .minw{
        width: 940px;
        margin: 0 auto;
        padding: 0 20px;
        position: relative;
    }
    .header{
        z-index: 2;
        height: 62px;
        .logo{
            top: 14px;
            position: absolute;
            a{
                &:hover{
                    border-bottom: 1px solid transparent;
                }
            }
        }
        .soc{
            position: absolute;
            right:20px;
            top: 0;
        }
        .menu{
            position: absolute;
            right: 275px;
            top: 17px;
            li{
                list-style: none;
                display: inline-block;
                font-size: 12px;
                margin:0 10px;
                position: relative;
                &:after{
                    content: "|";
                    position: absolute;
                    right: -15px;
                }
                &:last-child:after{
                    content:"";
                }
                a{
                    font-size: 12px;
                    font-family: "Arial";
                }
            }
        }
        .search{
            position: absolute;
            right: 20px;
            top: 30px;
            .wrapper{
                position: relative;
                input{
                    width: 230px;
                    height: 27px;
                    border:1px solid #bababa;
                    background: #f8f8f8;
                    padding: 0 10px;
                    font-size: 12px;
                    color:#9a9a9a;
                    font-style: italic;
                }
                .btn_search{
                    background: url("../images/loop.png")no-repeat;
                    width: 32px;
                    height: 28px;
                    position: absolute;
                    right:0;
                    top:0;
                    border: 0;
                    padding: 0;
                }
            }
        }
    }
    .galleries{
        .menu{
            margin-top: 15px;
            background: url("../images/grad_menu.png") repeat-x;
            height: 45px;
            z-index: 1;
            ul{
                padding: 0;
                margin: 0;            
                text-align: center;
                li{
                    display: inline-block;
                    list-style: none;
                    margin: 0 18px;
                    a{
                        text-transform: uppercase;
                        font-size: 15px;
                        font-weight: bold;
                        color: #fff;
                        line-height: 45px;
                        &:hover{
                            border-bottom: 1px solid transparent;
                            color:#e0e0e0;
                        }
                    }
                }
            }
        }
    }
    /***subscription***/
    .subscription{
        background: #e4e4e4;
        height: 190px;
        padding:15px;
        margin-bottom: 19px;
        h1{
            padding: 0;
            margin: 0;
            font-size: 16px;
            text-transform: uppercase;
        }
        p{
            font-size: 12px;
        }
        input{
            width: 205px;
            padding:0 5px;
            font-family: "Arial";
            font-size: 12px;
            height: 24px;
            border:1px solid #bababa;
            margin-bottom: 7px;
            color: #bababa;
        }
        .btn{
            width:100px;
            height: 30px;
            background: #cf0000;
            font-size: 13px;
            font-weight: bold;
            color:#fff;
            border:none;
            cursor: pointer;
            transition: all ease 0.2s;
            &:hover{
                background: #DA0303;
            }
        }
        span{
            color:#cf0000;
            font-size: 12px;
            font-family: "Аrial";
        }
    }
    .popular{
        .head{
            border-bottom: 3px solid #cf0000;
            margin-bottom: 15px;
            span{
                font-size: 20px;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
            }
            span.active{
                color:#cf0000;
            }
        }
        .wrapper_short_news{
            .short_news{
                font-family: "Arial";
                border-bottom: 1px dotted #000;
                padding-bottom: 15px;
                margin-bottom: 15px;
                &:last-child{
                    border:none;
                    padding-bottom: 0;
                    margin-bottom:8px;
                }
                i{
                    font-size: 11px;
                    display: block;
                }
                p{
                    font-size: 12px;
                    font-weight: bold;
                    padding: 0;
                    margin: 0;
                    display: inline;
                    margin-right: 5px;
                }
                a{
                    color:#cf0000;
                    font-size: 10px;
                    text-transform: uppercase;
                }
            }
        }
        .more{
            background: #cf0000;
            color: #fff;
            padding:1px 10px;
            text-transform: uppercase;
            &:hover{
                background: #DA0303;
            }
        }
    }
}