/* KAZsport.info */
.index{
    .content{
        margin-top: 14px;
        .minw > div{
            display: inline-block;
            vertical-align: top;
        }
        .column_left{
            width:670px;  
            margin-right: 16px;
            .news{
                height: 330px;
                font-size: 0;
                margin-bottom: 15px;
                .column{
                    margin-top: 15px;
                    display: inline-block;
                    width:159px;
                    margin-right: 11px;
                    font-size: 14px;
                    vertical-align: top;
                    &:last-child{
                        margin:15px 0 0 0;
                    }
                    img{
                        margin-bottom: 10px;
                        width: 159px; /*Уьрать*/
                    }
                    strong{
                        font-family: "Arial";
                        font-size: 12px;
                        line-height: 12px;
                    }
                    p{
                        line-height: 15px;
                        padding: 0;
                        margin: 5px 0;
                    }
                    a{
                        font-size: 10px;
                        font-family: "Arial";
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
                .head{
                    position: relative;
                    .more{
                        text-transform: uppercase;
                        font-size: 10px;
                        position: absolute;
                        right:0;
                        color:#fff;
                        bottom: 3px;
                        a{
                            color:#fff;
                            background: #cf0000;
                            padding: 1px 10px;
                            border:1px solid transparent;
                            &:hover{
                                border:1px solid transparent;
                                background: #DA0303;
                            }
                        }
                    }
                    .border{
                        background: #cf0000;
                        height: 3px;
                        width: 100%;
                    }
                }
            }
            h1{
                text-transform: uppercase;
                font-size: 20px;
            }
        }
        .column_center{
            width:190px;
            background: #eee;
            margin-right: 16px;
        }
        .column_right{
            width: 250px;
        }
    }
}